# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/
*.spec

# Django
staticfiles/
media/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# PyInstaller
*.manifest
*.exe

# Virtual Environment
venv/
env/
.venv/
.env

# Local runtime output
tmp/
node-server*.log
